* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    height: 600px;
    width: 300px;
    transform: rotate(-60deg) skew(10deg, 10deg);
    background: rgba(0, 0, 0, 0.2);
}

.container > .item {
    width: 100%;
    transition: 0.5s;
    position: absolute;
}


.container:hover > .item:nth-child(1) {
    opacity: 0.4;
    transform: translate(40px, -40px);
}

.container:hover > .item:nth-child(2) {
    opacity: 0.6;
    transform: translate(80px, -80px);
}

.container:hover > .item:nth-child(3) {
    opacity: 0.8;
    transform: translate(120px, -120px);
}

.container:hover > .item:nth-child(4) {
    transform: translate(160px, -160px);
}
