* {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
}

.menu-box {
  background: #f53c0e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.6s ease-in-out;
}

.open {
  transform: scale(1);
}

.menu-box > .list {
  list-style: none;
}

.menu-box > .list > li {
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  text-align: center;
}


.menu-box > .list > li:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  background: #fbe14b;
  animation: move 0.5s ease-in;
  transform-origin: left center;
}

@keyframes move {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  outline: none;
  width: 40px;
  height: 40px;
  background: #fbe14b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.menu-btn::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  height: 5px;
  width: 30px;
  background: #000;
}

.open {

}