* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > span:nth-child(1) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 37% 46% 52% 37% / 42% 54% 32% 61%;
  transition: 0.5s;
  animation: animation 6s linear infinite;
}

.container:hover > span:nth-child(1) {
  background: rgba(0, 0, 255, 0.5);
  border: transparent;
}

.container > span:nth-child(2) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 37% 46% 52% 37% / 42% 54% 32% 61%;
  transition: 0.5s;
  animation: animation 4s linear infinite;
}

.container:hover > span:nth-child(2) {
  background: rgba(0, 0, 255, 0.7);
  border: transparent;
}

@keyframes animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.container > span:nth-child(3) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 37% 46% 52% 37% / 42% 54% 32% 61%;
  transition: 0.5s;
  animation: animation2 10s linear infinite;
}

.container:hover > span:nth-child(3) {
  background: rgba(0, 0, 255, 0.7);
  border: transparent;
}

@keyframes animation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.content {
  color: white;
  padding: 50px;
  z-index: 1;
  text-align: center;
}

.content > a {
  display: inline-block;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 37% 46% / 54% 37%;
  transition: 0.5s;
}

.content:hover > a {
  color: #000;
  background: #fff;
}