.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:rgb(86, 58, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.face {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: rgb(224, 213, 74);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face::before {
  content: '';
  display: block;
  background:rgb(169, 121, 42);
  width: 160px;
  height: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.face:hover::before {
  height: 40px;
  bottom: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  transition: 1s;
}

.eyes {
  position: relative;
  display: flex;
  top: -40px;
}

.eye {
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  margin: 0 15px;
}

.eye::before {
  content: '';
  display: block;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}